#form {
    background-color: #EEF7F1;
}

#addButton:hover {
    box-shadow: -1px 1px 17px 0px rgba(0,0,0,0.75);
}

#backButton:hover {
    box-shadow: -1px 1px 17px 0px rgba(0,0,0,0.75);
}

input:hover {
    border-color: rgb(106, 161, 143);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}